<!-- configuration标签下的scan属性开启logback的自动扫描如果不设置 ，默认为false -->
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <!-- 定义日志文件 输入位置 -->
    <property name="log_dir" value="logs/one" />
    <!-- 日志最大的历史 3天 -->
    <property name="maxHistory" value="3"/>
    
    
    <!-- ConsoleAppender 控制台输出日志 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger -%msg%n</pattern>
        </encoder>
    </appender>
    
    <!-- 滚动记录文件，先将日志记录到指定文件，当符合某个条件时，将日志记录到其他文件 RollingFileAppender-->
    <appender name="roll" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${log_dir}/one_tracetest_%d{yyyy-MM-dd}.log.%i</fileNamePattern>
            <!-- each file should be at most maxFileSize MB, keep maxHistory days worth of history, but at most totalSizeCap GB -->
	        <maxFileSize>1MB</maxFileSize>    
	        <maxHistory>3</maxHistory>
	        <totalSizeCap>50MB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <!-- <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern> -->
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <!-- root级别   DEBUG -->
    <root level="INFO">
        <!-- 控制台输出 -->
        <appender-ref ref="STDOUT" />
        <!-- 文件输出 -->
        <appender-ref ref="roll" />
    </root>
</configuration>